 :root{
    --base: purple;
    --spacing: 10px;
    --blur: 10px;
 }
 body{
    text-align: center;
 }
 img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur)); 
    height: 65vh;
    width: 20vw;
 }
 div{
   margin-top: 7vh;
   margin-bottom: 6vh;
 }