 :root{
    --base: purple;
    --spacing: 10px;
    --blur: 5px;
 }
 body{
    text-align: center;
 }
 img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur)); 
    height: 65vh;
    width: 20vw;
    border-style:ridge;
    border-color: darkblue;
    border-width: var(--spacing);
 }
 div{
   margin-top: 7vh;
   margin-bottom: 6vh;
 }